In [3]:
import pandas as pd
from sklearn.feature_selection import mutual_info_regression

In [4]:
df = pd.read_csv("../data/raw/mbajk_dataset.csv")
df.head()

,Unnamed: 0,date,temperature,relative_humidity,dew_point,apparent_temperature,precipitation_probability,rain,surface_pressure,bike_stands,available_bike_stands
0,0,2023-06-25 19:07:30+00:00,25.1,45,12.4,24.7,0.0,0.0,984.3,22,8
1,1,2023-06-25 20:25:41+00:00,24.2,43,10.9,23.3,NaN,0.0,984.5,22,8
2,2,2023-06-25 20:12:20+00:00,24.2,43,10.9,23.3,0.0,0.0,984.5,22,12
3,3,2023-06-25 19:33:48+00:00,24.2,43,10.9,23.3,0.0,0.0,984.5,22,7
4,4,2023-06-25 19:55:29+00:00,24.2,43,10.9,23.3,NaN,0.0,984.5,22,8

In [5]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df["date"] = pd.to_datetime(df["date"])
df.sort_values(by="date", inplace=True)
df.head()

,date,temperature,relative_humidity,dew_point,apparent_temperature,precipitation_probability,rain,surface_pressure,bike_stands,available_bike_stands
0,2023-06-25 19:07:30+00:00,25.1,45,12.4,24.7,0.0,0.0,984.3,22,8
3,2023-06-25 19:33:48+00:00,24.2,43,10.9,23.3,0.0,0.0,984.5,22,7
5,2023-06-25 19:45:44+00:00,24.2,43,10.9,23.3,0.0,0.0,984.5,22,6
4,2023-06-25 19:55:29+00:00,24.2,43,10.9,23.3,NaN,0.0,984.5,22,8
6,2023-06-25 20:02:16+00:00,24.2,43,10.9,23.3,0.0,NaN,984.5,22,12

In [6]:
df.isnull().sum()

date                            0
temperature                  1869
relative_humidity               0
dew_point                       0
apparent_temperature            0
precipitation_probability    1308
rain                         2804
surface_pressure                0
bike_stands                     0
available_bike_stands           0
dtype: int64

In [7]:
for column in ['temperature', 'precipitation_probability', 'rain']:
    df.interpolate(method='linear', inplace=True)
    
df.isnull().sum()

date                         0
temperature                  0
relative_humidity            0
dew_point                    0
apparent_temperature         0
precipitation_probability    0
rain                         0
surface_pressure             0
bike_stands                  0
available_bike_stands        0
dtype: int64

In [9]:
target = "available_bike_stands"

input_cols = df.columns.tolist()
input_cols.remove(target)
input_cols.remove("date")

information_gain = mutual_info_regression(df[input_cols], df[target])

feature_importance = pd.Series(information_gain, index=input_cols)
feature_importance.sort_values(ascending=False, inplace=True)

top_features = feature_importance.head(4).index.tolist()
print(top_features)

['surface_pressure', 'apparent_temperature', 'temperature', 'dew_point']

In [10]:
df.to_csv("../data/processed/mbajk_processed.csv", index=False)